.Auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px rgb(37, 235, 19) solid;
     gap: 40px;
     


.input_group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}
}


.error{
    color:red ;
    font-size: 20px;
}