.header {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('../../../../public/ivanko.jpg');
  height: 200px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__logo,
  .a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    position: relative;
  }
  @keyframes move {
    from {
      top: -76px;
      background: linear-gradient(90deg, rgb(53, 172, 202) 10%, rgba(204, 185, 16, 0.5) 100%);
      box-shadow: 0px 20px 20px rgb(248, 14, 14);
    }

    30% {
      top: -55px;
      background: linear-gradient(90deg, rgb(129, 44, 97) 10%, rgba(6, 238, 255, 0.5) 100%);
    }
    to {
      top: -75px;

      box-shadow: 10px 10px 30px rgb(255, 0, 0);
      background: linear-gradient(90deg, rgb(179, 49, 49) 10%, rgba(6, 238, 255, 0.5) 100%);
    }
  }
  button {
    height: 20px;
    width: 250px;
    position: absolute;
    animation: move 5s infinite ease-in-out;
    transition-duration: 2000ms;
    background-color: rgb(165, 165, 165);
    cursor: pointer;
    box-shadow: 1px 3px 7px rgb(5, 5, 5);
    border-color: rgba(107, 206, 245, 0.801);
    border-radius: 10px;
    top: -76px;
  }

  h1 {
    color: red;
  }
}
.name {
  color: red;
}


.link {
  font-size: 24px;
  color: red;
  text-decoration: none;
  animation: spin 12s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    opacity: 0; /* задаем прозрачность */
  }
  50% {
    transform: rotate(180deg);
    content: url('../../../../public/chicken-chicken-bro.gif');
    width: 50px;
    height: 50px;
    opacity: 1; /* задаем прозрачность */
  }
  70% {
    transform: rotate(250deg);
    content: url('../../../../public/chicken-chicken-bro.gif');
    width: 70px;
    height: 70px;
    opacity: 2; /* задаем прозрачность */
  }
  90% {
    transform: rotate(360deg);
    content: url('../../../../public/chicken-chicken-bro.gif');
    width: 100px;
    height: 100px;
    opacity: 3; /* задаем прозрачность */
  }
  to {
    transform: rotate(360deg);
    content: url('../../../../public/chicken-chicken-bro.gif');
    width: 100px;
    height: 100px;
    opacity: 4; /* задаем прозрачность */
    
  }
}
